<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render :partial => "partial/head-meta" %>
    <%= render :partial => "partial/insert-stylesheets" %>
  </head>
  <body>
    <div class="layout-container">
      <%= render :partial => "partial/layout-header" %>
      <div id="layout-view" class="layout-view">
        <%= yield %>
      </div>
      <%= render :partial => "partial/layout-footer" %>
    </div>
    <div class="layout-loading">
      <div class="layout-loading-top">
        <div class="loading-top-logo">
          <img src="images/img-logo-drama-w300.svg" width="100%" alt="">
          <h3>多瑪數位創意時空></h3>
          <span class="form-btn">
            ENTER
            <span class="form-btn-overlay">
              <i class="form-btn-overlay-dot1"></i>
              <i class="form-btn-overlay-dot2"></i>
              <i class="form-btn-overlay-dot3"></i>
              <i class="form-btn-overlay-dot4"></i>
            </span>
          </span>
        </div>
        <div class="layout-loading-top-bg loading-top-bg1">
          <i class="shape-trangle"></i>
          <!-- <i class="shape-plus plus-1"></i> -->
          <i class="shape-plus plus-2"></i>
          <!-- <i class="shape-dot"></i>     -->
        </div>
        <div class="layout-loading-top-bg loading-top-bg2">
          <!-- <i class="shape-trangle"></i> -->
          <i class="shape-plus plus-1"></i>
          <!-- <i class="shape-plus plus-2"></i> -->
          <i class="shape-line line-1"></i>
          <i class="shape-line line-2"></i>
          <i class="shape-line line-3"></i>
          <i class="shape-dot"></i>    
        </div>
      </div>
      <div class="layout-loading-bottom"></div>
    </div>
    <div class="layout-lightbox">
      <div class="layout-lightbox-bg"></div>
      <div class="layout-lightbox-content">
        <h3>謝謝您的來信！<br/>我們會盡快與您連繫！</h3>
        <button class="form-btn do-closepopup">返回首頁</button>
      </div>
    </div>
    <%= livereload_js if ENV["RACK_ENV"] != "production" %>
    <%= render :partial => "partial/insert-javascripts" %>
  </body>
</html>