<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/main" %>
<% end %>
<% content_for :specific_javascript do %>
  <%#= javascript_include_tag "drawcanvas" %>
  <%= javascript_include_tag "map" %>
<% end %>

<section id="section-main" class="section-main">
  <h1>
    WE BUILD THE CONNECTION<br/>
    OF HUMANITIES, CREATION,<br/>
    DESIGN AND IDEA.
  </h1>
  
<!--   <h1>
    <b>W</b><b>E </b><b>B</b><b>U</b><b>I</b><b>L</b><b>D </b><b>T</b><b>H</b><b>E </b><b>C</b><b>O</b><b>N</b><b>N</b><b>E</b><b>C</b><b>T</b><b>I</b><b>O</b><b>N</b><br/>
    <b>O</b><b>F </b><b>H</b><b>U</b><b>M</b><b>A</b><b>N</b><b>I</b><b>T</b><b>I</b><b>E</b><b>S</b><b>, </b><b>C</b><b>R</b><b>E</b><b>A</b><b>T</b><b>I</b><b>O</b><b>N</b><b>,</b><br/>
    </b><b>D</b><b>E</b><b>S</b><b>I</b><b>G</b><b>N </b><b>A</b><b>N</b><b>D </b><b>I</b><b>D</b><b>E</b><b>A</b><b>.</b>
  </h1> -->

  <h2>
    HUMAN,CONSONANCE EMOTION,<br/>
    THINKING,COMMUNICATE,CREATE,<br/>
    INTELLIGENCE AND POWER.<br/>
  </h2>

<!--   <h2>
    <b>H</b><b>U</b><b>M</b><b>A</b><b>N</b><b>,</b><b>C</b><b>O</b><b>N</b><b>S</b><b>O</b><b>N</b><b>A</b><b>N</b><b>C</b><b>E </b><b>E</b><b>M</b><b>O</b><b>T</b><b>I</b><b>O</b><b>N</b><b>,</b><br/>
    <b>T</b><b>H</b><b>I</b><b>N</b><b>K</b><b>I</b><b>N</b><b>G</b><b>,</b><b>C</b><b>O</b><b>M</b><b>M</b><b>U</b><b>N</b><b>I</b><b>C</b><b>A</b><b>T</b><b>E</b><b>,</b><b>C</b><b>R</b><b>E</b><b>A</b><b>T</b><b>E</b><b>,</b><br/>
    <b>I</b><b>N</b><b>T</b><b>E</b><b>L</b><b>L</b><b>I</b><b>G</b><b>E</b><b>N</b><b>C</b><b>E </b><b>A</b><b>N</b><b>D </b><b>P</b><b>O</b><b>W</b><b>E</b><b>R</b><b>.</b><br/>
  </h2> -->

  <div class="bg-main bg-main1">
    <i class="shape-trangle"></i>
    <!-- <i class="shape-plus plus-1"></i> -->
    <i class="shape-plus plus-2"></i>
    <!-- <i class="shape-dot"></i>     -->
    <i class="shape-line line-1"></i>
    <!-- <i class="shape-line line-2"></i> -->
  </div>
  <div class="bg-main bg-main2">
    <!-- <i class="shape-trangle"></i> -->
    <i class="shape-plus plus-1"></i>
    <!-- <i class="shape-plus plus-2"></i> -->
    <i class="shape-dot"></i>    
  </div>
</section>
<section class="section-boxbtn">
<!--   <div class="boxbtn goto-about">
    <p>ABOUT US</p>
    <p>WHO WE ARE.<span>WHO WE ARE.</span></p>
  </div> -->
  <div class="boxbtn goto-portofolio">
    <p>PORTOFOLIO</p>
    <p>WHAT WE DO.<span>WHAT WE DO.</span></p>
  </div>
  <div class="boxbtn goto-contact">
    <p>CONTACT US</p>
    <p>WHERE WE ARE.<span>WHERE WE ARE.</span></p>
  </div>
</section>

<section class="content-section section-about">
  <div class="content-section-title">
  ABOUT US
  <span class="content-section-title-clone1">ABOUT US</span>
  <span class="content-section-title-clone2">ABOUT US</span>
  <span class="content-section-title-noisy"></span>
  <i class="content-section-title-lightline"></i>
  </div>
  <!--
  <div class="boxbtn">
    <p>ABOUT US</p>
    <p>WHO WE ARE.</p>
  </div>
  -->
  <p class="content-article"><i class="module-icon icon-logo"></i></p>
  <p class="content-article">
    我們認為DRAMA對於品牌是最根本，也是最重要的一種「行為」，<br/>
    任何能產生效益的行為，都需要一種能在消費者心中發生共鳴的元素，<br/>
    這個元素，就是我們所認為DRAMA的重點核心，<br/>
    我們已經脫離傳統廣告對於DRAMA的暨有概念，並且把難以捉摸的創意概念公式化，<br/>
    我們把DRAMA提升為一種「動詞」，進而以DRAMA為企業精神。
  </p>
  <p class="content-article">
    對多瑪來說，<br/>
    知識用來解決問題，<br/>
    創意用來尋找問題，<br/>
    並且我們認為尋找問題與解決問題同等重要！
  </p>
  <p class="content-article">
    在每一次不同的專案中，<br/>
    有幸接觸到各行各業，<br/>
    讓我們涉入各種不同的專業領域，<br/>
    經過一次又一次的體會與瞭解，<br/>
    使多瑪成為一座載有人文、知識，並擁有組織、洞察力的滙集平台。
  </p>
  <p class="content-article">
    不管在業界已過了多少年， 多瑪的每一位成員，<br/>
    對設計、創意、行銷的熱情，依然有增無減。<br/>
    不斷在自己與客戶的領域中充實，<br/>
    精進的心‧有目共睹！<br/>
  </p>
</section>

<section class="content-section section-workdetail">
  <div class="workdetail-title">
    <p class="workdetail-title-name"><!-- 作品名稱作品名稱作品名稱作品名稱作品名稱<a class="workdetail-title-url" href=""><i class="module-icon icon-link"></i></a> --></p>
    <p><b>CONCEPT AND OBJECTIVE</b><span>概念與目標</span></p>
  </div>
  <div class="workdetail-msg">
    <%#= zh_lorem_paragraphs(6) %>
  </div>
  <ul class="workdetail-img-list clearfix">
    <% 0.times do |i| %>
    <!-- 
    <li class="workdetail-img-item">
      <img class="item-workdetail-img" src="http://dummyimage.com/1920x900/ddd/fff" width="100%" alt="">
    </li>
     -->
    <% end %>
  </ul>
  <div class="workdetail-relative">
    <div class="workdetail-title clearfix">
      <p class="goto-portofolio">返回列表</p>
      <p>推薦作品</p>
    </div>
    <ul class="workdetail-relative-list clearfix">
      <% 3.times do |i| %>
<!--       
      <li class="workdetail-relative-item item-work" data-num="<%= i %>">
        <div class="workdetail-relative-item-img">
          <div class="workdetail-relative-item-img-content" style="background-image: url(http://www.drama.com.tw/drama2016/upload_files/works/1455623591.0277.jpg);"></div>
        </div>
      </li>
 -->      
      <% end %>
    </ul>
  </div>
</section>

<section class="content-section section-portofolio">
  <div class="content-section-title">
    PORTOFOLIO
    <span class="content-section-title-clone1">PORTOFOLIO</span>
    <span class="content-section-title-clone2">PORTOFOLIO</span>
    <span class="content-section-title-noisy"></span>
    <i class="content-section-title-lightline"></i>
  </div>
  <!--
   <div class="boxbtn">
    <p>PORTOFOLIO</p>
    <p>PAST WORKS.</p>
  </div>
   -->
  <ul class="list-work clearfix">
    <% 0.times do |i| %>
<!--     
    <li class="item-work" data-num="<%= i %>">
      <div class="item-work-img">
        <div class="item-work-img-content" style="background-image: url(http://dummyimage.com/610x320/ddd/fff);"></div>
      </div>
      <div class="item-work-describe">
        <p class="item-work-name">item-work-NAME</p>
        <p class="item-work-msg">SHORT DESCRIBE....</p>
      </div>
    </li>
    -->
    <% end %>
  </ul>
  <div class="content-section-title goto-contact">CONTACT US
  <p class="content-section-title-append">有任何想法了嗎？請與我們連絡</p>
    <span class="content-section-title-clone1">CONTACT US</span>
    <span class="content-section-title-clone2">CONTACT US</span>
    <!-- <span class="content-section-title-noisy"></span> -->
    <i class="content-section-title-lightline"></i>
  </div>
</section>

<section class="content-section section-clients">
  <div class="content-section-title">
    CLIENTS
    <span class="content-section-title-clone1">CLIENTS</span>
    <span class="content-section-title-clone2">CLIENTS</span>
    <span class="content-section-title-noisy"></span>
    <i class="content-section-title-lightline"></i>
  </div>
<!-- 
  <div class="boxbtn">
    <p>CLIENTS</p>
    <p>WHAT WE DO.</p>
  </div>
 -->  
  <ul class="list-client clearfix">
    <% 0.times do |i| %>
    <!--
    <li class="item-client" data-num="<%= i %>" >
      <img class="item-client-img" src="http://dummyimage.com/140x40/ddd/fff" alt="">
      <div class="item-client-describe">
        <p class="item-client-name">item-client-NAME</p>
        <p class="item-client-msg">SHORT DESCRIBE....</p>
      </div>
    </li>
    -->
    <% end %>
  </ul>
</section>

<section class="content-section section-contact">
  <div class="content-section-title">
    CONTACT US
    <span class="content-section-title-clone1">CONTACT US</span>
    <span class="content-section-title-clone2">CONTACT US</span>
    <span class="content-section-title-noisy"></span>
    <i class="content-section-title-lightline"></i>
  </div>
  <!--   
  <div class="boxbtn">
    <p>CONTACT US</p>
    <p>WHERE WE ARE.</p>
  </div>
  -->
   <div class="section-contact-profile clearfix"> 
    <div class="col-left">
      <!-- <p class="content-article"><i class="module-icon icon-logo"></i></p> -->
      <p class="content-article style-xl">
        <i class="module-icon icon-phone"></i>(886)2 2595 9595
      </p>
      <p class="content-article style-xl">
        <i class="module-icon icon-fax"></i>(886)2 2595 9530
      </p>
      <p class="content-article style-xl">
        <i class="module-icon icon-mail"></i>service@drama.com.tw
      </p>
      <p class="content-article  pt1">
        多瑪數位廣告股份有限公司
      </p>
      <p class="content-article pb0">
        Drama Network Inc.
      </p>
      <p class="content-article pb0">
        103台北市大同區重慶北路三段252巷16號1樓
      </p>
      <p class="content-article pb0">
        1F., No.16, Ln. 252, Sec. 3, Chongqing N. Rd., Datong Dist., <span style="display:inline-block;">Taipei City 103, Taiwan (R.O.C.)</span>
      </p>
    </div>
    <div class="col-right">
      <p class="content-article style-large">
        若有任何問題與指教，請與我們連繫。
      </p>
      <form id="contactForm" class="module-form">
        <div class="form-block style-half">
          <label class="module-form-label" for="contact_name">連絡姓名</label>
          <input type="text" class="module-form-input input-name" name="contact_name" placeholder="" maxlength="20" />
          <!-- <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" /> -->
          <!-- <p class="form-warning-text"></p> -->
        </div>
        <div class="form-block style-half">
          <label class="module-form-label" for="contact_tel">連絡電話</label>
          <input type="text" class="module-form-input input-phone style-half" name="contact_tel" placeholder="" maxlength="15" />
          <!-- <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" /> -->
          <!-- <p class="form-warning-text"></p> -->
        </div>
        <div class="form-block style-full">
          <label class="module-form-label" for="contact_mail">連絡信箱</label>
          <input type="text" class="module-form-input input-mail" name="contact_mail" placeholder="" maxlength="50" />
          <!-- <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" /> -->
          <!-- <p class="form-warning-text"></p> -->
        </div>
        <div class="form-block style-full style-textarea">
          <label class="module-form-label" for="contact_msg">意見回饋</label>
          <textarea class="module-form-textarea input-msg" name="contact_msg" placeholder=""></textarea>
          <!-- <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" /> -->
          <!-- <p class="form-warning-text"></p> -->
        </div>
      </form>
      <button id="submit" class="form-btn btn-send do-openpopup">發送</button>
    </div>
  </div>
  <div id="map-canvas" class="section-contact-map">
    
  </div>
</section>