@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
/* line 28, ../sass/vendors/_extend.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, ../sass/_initial.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../sass/_initial.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../sass/_initial.scss */
body {
  line-height: 1;
}

/* line 40, ../sass/_initial.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../sass/_initial.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../sass/_initial.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../sass/_initial.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Chinese';
  unicode-range: U+4E00-9FFF;
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local(LiHei Pro), local(微軟正黑體);
}
/* line 4, ../sass/vendors/_basic.scss */
body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

/* line 10, ../sass/vendors/_basic.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, ../sass/vendors/_basic.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/vendors/_basic.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/vendors/_basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 30, ../sass/vendors/_basic.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/layouts/_view.scss */
::-moz-selection {
  /* Code for Firefox */
  background: black;
  color: white;
}

/* line 5, ../sass/layouts/_view.scss */
::selection {
  background: black;
  color: white;
}

/* line 9, ../sass/layouts/_view.scss */
body {
  background-color: white;
}

/* line 13, ../sass/layouts/_view.scss */
.layout-container {
  margin-top: 100px;
}
@media (max-width: 767px) {
  /* line 13, ../sass/layouts/_view.scss */
  .layout-container {
    margin-top: 60px;
  }
}

/* line 22, ../sass/layouts/_view.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: #232323;
  letter-spacing: -3px;
}
@media (max-width: 1280px) {
  /* line 22, ../sass/layouts/_view.scss */
  h1 {
    font-size: 64px;
  }
}
@media (max-width: 1024px) {
  /* line 22, ../sass/layouts/_view.scss */
  h1 {
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  /* line 22, ../sass/layouts/_view.scss */
  h1 {
    font-size: 42px;
    letter-spacing: -2px;
  }
}
@media (max-width: 480px) {
  /* line 22, ../sass/layouts/_view.scss */
  h1 {
    font-size: 40px;
  }
}

/* line 42, ../sass/layouts/_view.scss */
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #999;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 480px) {
  /* line 42, ../sass/layouts/_view.scss */
  h2 {
    font-size: 16px;
  }
}

/* line 1, ../sass/layouts/_header.scss */
#header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px dotted #999;
  background-color: white;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/_header.scss */
  #header {
    height: 60px;
  }
}
/* line 16, ../sass/layouts/_header.scss */
#header.is-slideup {
  top: -100px;
}
@media (max-width: 767px) {
  /* line 16, ../sass/layouts/_header.scss */
  #header.is-slideup {
    top: -60px;
  }
}
/* line 22, ../sass/layouts/_header.scss */
#header .icon-burger {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 1.5em;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  /* line 22, ../sass/layouts/_header.scss */
  #header .icon-burger {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 22, ../sass/layouts/_header.scss */
  #header .icon-burger {
    margin-bottom: 1em;
  }
}
@media (max-width: 767px) {
  /* line 37, ../sass/layouts/_header.scss */
  #header .icon-burger span {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
/* line 45, ../sass/layouts/_header.scss */
#header.is-open .icon-burger {
  width: 26px;
}
/* line 48, ../sass/layouts/_header.scss */
#header.is-open .icon-burger span:first-child, #header.is-open .icon-burger span:last-child {
  width: 50%;
  margin-left: 50%;
}
/* line 54, ../sass/layouts/_header.scss */
#header.is-open .header-submenu {
  max-height: 100vh;
  opacity: 1;
}

/* line 60, ../sass/layouts/_header.scss */
.col-logo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  width: 230px;
  padding-left: 2.75em;
  padding-bottom: 1em;
}
/* line 68, ../sass/layouts/_header.scss */
.col-logo i {
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 60, ../sass/layouts/_header.scss */
  .col-logo {
    padding-left: 1em;
  }
}
@media (max-width: 767px) {
  /* line 74, ../sass/layouts/_header.scss */
  .col-logo .icon-logo {
    height: 25px;
    background-position: 0;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

/* line 82, ../sass/layouts/_header.scss */
.col-btn {
  position: absolute;
  right: 3em;
  bottom: 0;
  width: 70%;
  height: 35px;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  /* line 82, ../sass/layouts/_header.scss */
  .col-btn {
    display: none;
  }
}

/* line 97, ../sass/layouts/_header.scss */
.btn-header {
  display: inline-block;
  position: relative;
  width: 115px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #999;
  margin-left: -4px;
  -webkit-transition-property: background-color, color, opacity;
  transition-property: background-color, color, opacity;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 109, ../sass/layouts/_header.scss */
.btn-header:last-child {
  border-right: 1px solid #999;
}
/* line 112, ../sass/layouts/_header.scss */
.btn-header::after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0;
  background-color: #000;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 127, ../sass/layouts/_header.scss */
.btn-header:hover {
  color: #fff;
  opacity: 0.85;
}
/* line 130, ../sass/layouts/_header.scss */
.btn-header:hover::after {
  height: 100%;
}

/* line 135, ../sass/layouts/_header.scss */
.header-submenu {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  /* line 135, ../sass/layouts/_header.scss */
  .header-submenu {
    margin-top: 60px;
  }
}
/* line 151, ../sass/layouts/_header.scss */
.header-submenu ul {
  background-color: white;
}
/* line 154, ../sass/layouts/_header.scss */
.header-submenu li {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  line-height: 4;
  border-bottom: 1px solid #999;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 154, ../sass/layouts/_header.scss */
  .header-submenu li {
    line-height: 3;
    text-align: left;
    padding-left: 1em;
  }
}

/* line 1, ../sass/layouts/_footer.scss */
#footer {
  border-top: 1px dotted #999;
  font-family: 'Chinese' , 'Lato', sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.75em;
  color: #ccc;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/_footer.scss */
  #footer {
    padding-left: 1em;
  }
}

/* line 12, ../sass/layouts/_footer.scss */
.footer-content {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-left: 1px solid #999;
  font-size: 14px;
}
/* line 18, ../sass/layouts/_footer.scss */
.footer-content span {
  display: inline-block;
  padding-left: 1em;
  padding-right: 0.5em;
  border-left: 1px solid #ccc;
  line-height: 1;
}
@media (max-width: 1023px) {
  /* line 18, ../sass/layouts/_footer.scss */
  .footer-content span {
    border-left: 0;
  }
}
@media (max-width: 767px) {
  /* line 18, ../sass/layouts/_footer.scss */
  .footer-content span {
    padding-right: 0;
  }
}
/* line 30, ../sass/layouts/_footer.scss */
.footer-content span:first-child {
  border-left: 0;
}
/* line 33, ../sass/layouts/_footer.scss */
.footer-content span b {
  letter-spacing: 2px;
  font-weight: normal;
}
@media (max-width: 767px) {
  /* line 33, ../sass/layouts/_footer.scss */
  .footer-content span b {
    display: block;
  }
}
/* line 40, ../sass/layouts/_footer.scss */
.footer-content span.style-noborder {
  border-left: 0;
  padding-left: 0;
}
@media (max-width: 1023px) {
  /* line 40, ../sass/layouts/_footer.scss */
  .footer-content span.style-noborder {
    display: block;
    padding-left: 1em;
  }
}
/* line 49, ../sass/layouts/_footer.scss */
.footer-content a {
  display: inline-block;
  padding-left: 1em;
  color: #bbb;
}
/* line 54, ../sass/layouts/_footer.scss */
.footer-content i {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 1, ../sass/module/_icon.scss */
.module-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

/* line 7, ../sass/module/_icon.scss */
.icon-logo {
  width: 180px;
  height: 45px;
  background-image: url("../images/img-logo-drama.png");
}

/* line 13, ../sass/module/_icon.scss */
.icon-phone {
  width: 14px;
  height: 14px;
  background-image: url("../images/icon-phone.png");
}

/* line 19, ../sass/module/_icon.scss */
.icon-fax {
  width: 14px;
  height: 14px;
  background-image: url("../images/icon-fax.png");
}

/* line 25, ../sass/module/_icon.scss */
.icon-mail {
  width: 14px;
  height: 14px;
  background-image: url("../images/icon-mail.png");
}

/* line 31, ../sass/module/_icon.scss */
.icon-link {
  width: 30px;
  height: 26px;
  background-image: url("../images/icon-link.png");
}

/* line 37, ../sass/module/_icon.scss */
.icon-burger {
  display: inline-block;
  width: 40px;
  padding-left: 8px;
  cursor: pointer;
}
/* line 43, ../sass/module/_icon.scss */
.icon-burger span {
  display: block;
  height: 1px;
  background-color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* line 52, ../sass/module/_icon.scss */
.shape-trangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #727272 transparent;
}

/* line 60, ../sass/module/_icon.scss */
.shape-plus {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
/* line 65, ../sass/module/_icon.scss */
.shape-plus::before {
  content: '';
  position: absolute;
  left: 50%;
  left: calc( 50% - 0.5px);
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #727272;
}
/* line 75, ../sass/module/_icon.scss */
.shape-plus::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  top: calc( 50% - 0.5px);
  width: 100%;
  height: 1px;
  background-color: #727272;
}

/* line 86, ../sass/module/_icon.scss */
.shape-line {
  display: inline-block;
  width: 0;
  height: 0;
}
/* line 90, ../sass/module/_icon.scss */
.shape-line::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background-color: #727272;
}

/* line 100, ../sass/module/_icon.scss */
.shape-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #727272;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../sass/module/_button.scss */
.section-boxbtn {
  position: relative;
  padding-left: 2.75em;
  max-height: 150px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: max-height 0.6s ease 0.5s, margin-left 0.6s ease 0s, opacity 0.6s ease 0s;
  -o-transition: max-height 0.6s ease 0.5s, margin-left 0.6s ease 0s, opacity 0.6s ease 0s;
  transition: max-height 0.6s ease 0.5s, margin-left 0.6s ease 0s, opacity 0.6s ease 0s;
}
@media (max-width: 767px) {
  /* line 1, ../sass/module/_button.scss */
  .section-boxbtn {
    max-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
}
/* line 19, ../sass/module/_button.scss */
.section-boxbtn .boxbtn {
  cursor: pointer;
}
@media (max-width: 1280px) {
  /* line 19, ../sass/module/_button.scss */
  .section-boxbtn .boxbtn {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  /* line 19, ../sass/module/_button.scss */
  .section-boxbtn .boxbtn {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
/* line 33, ../sass/module/_button.scss */
.section-boxbtn .boxbtn:hover p:last-child span {
  height: 0;
  opacity: 0;
}

/* line 42, ../sass/module/_button.scss */
.boxbtn {
  display: inline-block;
  overflow: hidden;
  padding-left: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 310px;
  height: 45px;
  border-left: 1px solid #999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 54, ../sass/module/_button.scss */
.boxbtn p:first-child {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
}
/* line 60, ../sass/module/_button.scss */
.boxbtn p:last-child {
  position: relative;
  color: black;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 26px;
}
@media (max-width: 1023px) {
  /* line 60, ../sass/module/_button.scss */
  .boxbtn p:last-child {
    color: #BDBDBD;
  }
}
/* line 70, ../sass/module/_button.scss */
.boxbtn p:last-child span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #BDBDBD;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
  -o-transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
  transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
}
@media (max-width: 1023px) {
  /* line 70, ../sass/module/_button.scss */
  .boxbtn p:last-child span {
    height: 0;
  }
}

/* line 87, ../sass/module/_button.scss */
.btn-water {
  position: relative;
  color: #232323;
}
/* line 91, ../sass/module/_button.scss */
.btn-water span {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  color: black;
  -webkit-transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
  -o-transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
  transition: height 0.3s ease 0s, opacity 0.25s ease 0s;
}
/* line 104, ../sass/module/_button.scss */
.btn-water:hover span {
  height: 0;
  opacity: 0;
}

/* line 1, ../sass/module/_form.scss */
input, textarea {
  border: 0;
  font-family: 'Chinese' , 'Lato', sans-serif;
  font-size: 12px;
}
/* line 5, ../sass/module/_form.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 9, ../sass/module/_form.scss */
textarea {
  resize: none;
  line-height: 2;
}

/* line 13, ../sass/module/_form.scss */
button {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Chinese' , 'Lato', sans-serif;
}
/* line 17, ../sass/module/_form.scss */
button:focus {
  outline: none;
}

/* line 21, ../sass/module/_form.scss */
.module-form {
  font-size: 12px;
}

/* line 24, ../sass/module/_form.scss */
.form-block {
  position: relative;
  border-bottom: 1px solid #232323;
  font-size: 12px;
  padding-left: 5em;
  margin-bottom: 1px;
}
/* line 30, ../sass/module/_form.scss */
.form-block.style-half {
  display: inline-block;
  width: 48%;
  margin-left: -5px;
}
/* line 34, ../sass/module/_form.scss */
.form-block.style-half:first-child {
  margin-left: 0;
  margin-right: 4%;
}
@media (max-width: 767px) {
  /* line 30, ../sass/module/_form.scss */
  .form-block.style-half {
    width: 100%;
    margin-left: 0;
  }
}
/* line 43, ../sass/module/_form.scss */
.form-block.style-full {
  clear: left;
}
/* line 47, ../sass/module/_form.scss */
.form-block.is-focus {
  border-bottom: 2px solid #232323;
  margin-bottom: 0;
}
/* line 51, ../sass/module/_form.scss */
.form-block .module-form-label {
  width: 5em;
  line-height: 4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 60, ../sass/module/_form.scss */
.form-block .module-form-input {
  width: 100%;
  height: 4em;
  height: calc( 4em - 2px );
}
/* line 65, ../sass/module/_form.scss */
.form-block .module-form-textarea {
  padding-top: 1.5em;
  padding-top: calc(1.5em - 3px);
  width: 100%;
  height: 8em;
  line-height: 2;
}

/* line 74, ../sass/module/_form.scss */
.form-btn {
  position: relative;
  border: 0;
  font-size: 12px;
  width: 5em;
  height: 2.4em;
}
/* line 81, ../sass/module/_form.scss */
.form-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #232323;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  -webkit-transition-property: background-color, height, color;
  transition-property: background-color, height, color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 98, ../sass/module/_form.scss */
.form-btn:hover {
  color: white;
}
/* line 100, ../sass/module/_form.scss */
.form-btn:hover:after {
  height: 100%;
  background-color: black;
}

/* line 1, ../sass/module/_lightbox.scss */
.layout-lightbox {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 10, ../sass/module/_lightbox.scss */
.layout-lightbox.is-open {
  display: block;
}
/* line 14, ../sass/module/_lightbox.scss */
.layout-lightbox.is-showing .layout-lightbox-bg {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 18, ../sass/module/_lightbox.scss */
.layout-lightbox.is-showing .layout-lightbox-content {
  opacity: 1;
  top: 38%;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 25, ../sass/module/_lightbox.scss */
.layout-lightbox-bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 35, ../sass/module/_lightbox.scss */
.layout-lightbox-content {
  background-color: white;
  display: block;
  position: fixed;
  width: 30%;
  top: 40%;
  left: 35%;
  padding-top: 3em;
  padding-bottom: 3em;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s, top 0.4s ease-out 0s;
  -o-transition: opacity 0.3s ease 0s, top 0.4s ease-out 0s;
  transition: opacity 0.3s ease 0s, top 0.4s ease-out 0s;
}
/* line 47, ../sass/module/_lightbox.scss */
.layout-lightbox-content h3 {
  line-height: 1.6;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
}
@media (max-width: 480px) {
  /* line 47, ../sass/module/_lightbox.scss */
  .layout-lightbox-content h3 {
    font-size: 1.1em;
  }
}
/* line 56, ../sass/module/_lightbox.scss */
.layout-lightbox-content .form-btn {
  margin-top: 1em;
  font-size: 16px;
  width: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (max-width: 1279px) {
  /* line 35, ../sass/module/_lightbox.scss */
  .layout-lightbox-content {
    width: 40%;
    left: 30%;
  }
}
@media (max-width: 768px) {
  /* line 35, ../sass/module/_lightbox.scss */
  .layout-lightbox-content {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 480px) {
  /* line 35, ../sass/module/_lightbox.scss */
  .layout-lightbox-content {
    width: 80%;
    left: 10%;
  }
}

@keyframes lineshoot1 {
  0% {
    width: 30px;
    margin-left: 0;
    opacity: 0.8;
  }
  100% {
    width: 120px;
    margin-left: 1600px;
    opacity: 0;
  }
}
@-webkit-keyframes lineshoot1 {
  0% {
    width: 30px;
    margin-left: 0;
    opacity: 0.8;
  }
  100% {
    width: 120px;
    margin-left: 1600px;
    opacity: 0;
  }
}
@keyframes lineshoot2 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 0.6;
  }
  100% {
    width: 300px;
    margin-left: 1600px;
    opacity: 0;
  }
}
@-webkit-keyframes lineshoot2 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 0.6;
  }
  70% {
    width: 60px;
    margin-left: 0;
    opacity: 0.6;
  }
  90% {
    width: 300px;
    margin-left: 1600px;
    opacity: 0;
  }
  100% {
    width: 300px;
    margin-left: 1600px;
    opacity: 0;
  }
}
@keyframes lineshoot3 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 1;
  }
  100% {
    width: 300px;
    margin-left: 2600px;
    opacity: 1;
  }
}
@-webkit-keyframes lineshoot3 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 1;
  }
  100% {
    width: 300px;
    margin-left: 2600px;
    opacity: 1;
  }
}
@keyframes lineshoot4 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 0.8;
  }
  100% {
    width: 300px;
    margin-left: 2600px;
    opacity: 0;
  }
}
@-webkit-keyframes lineshoot4 {
  0% {
    width: 60px;
    margin-left: 0;
    opacity: 0.8;
  }
  100% {
    width: 300px;
    margin-left: 2600px;
    opacity: 0;
  }
}
@keyframes lineshoot5 {
  0% {
    width: 40px;
    margin-left: 0;
    opacity: 0.6;
  }
  100% {
    width: 220px;
    margin-left: 3000px;
    opacity: 0;
  }
}
@-webkit-keyframes lineshoot5 {
  0% {
    width: 40px;
    margin-left: 0;
    opacity: 0.6;
  }
  100% {
    width: 220px;
    margin-left: 3000px;
    opacity: 0;
  }
}
@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  15% {
    -webkit-transform: rotate(730deg);
    -ms-transform: rotate(730deg);
    -o-transform: rotate(730deg);
    transform: rotate(730deg);
  }
  100% {
    -webkit-transform: rotate(740deg);
    -ms-transform: rotate(740deg);
    -o-transform: rotate(740deg);
    transform: rotate(740deg);
  }
}
@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  15% {
    -webkit-transform: rotate(1010deg);
    -ms-transform: rotate(1010deg);
    -o-transform: rotate(1010deg);
    transform: rotate(1010deg);
  }
  100% {
    -webkit-transform: rotate(1010deg);
    -ms-transform: rotate(1010deg);
    -o-transform: rotate(1010deg);
    transform: rotate(1010deg);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  8% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(620deg);
    -ms-transform: rotate(620deg);
    -o-transform: rotate(620deg);
    transform: rotate(620deg);
  }
  100% {
    -webkit-transform: rotate(620deg);
    -ms-transform: rotate(620deg);
    -o-transform: rotate(620deg);
    transform: rotate(620deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  8% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  25% {
    -webkit-transform: rotate(620deg);
    -ms-transform: rotate(620deg);
    -o-transform: rotate(620deg);
    transform: rotate(620deg);
  }
  100% {
    -webkit-transform: rotate(620deg);
    -ms-transform: rotate(620deg);
    -o-transform: rotate(620deg);
    transform: rotate(620deg);
  }
}
@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate4 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes shine1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shine1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shine2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.82;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shine2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.82;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=global.css.map */
