.section-about{
  .content-article{
    letter-spacing: 2px;
    &:last-child{
      padding-bottom: 3em;
    }
  }
}

.content-article{
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 1em;
  &.pb0{
    padding-bottom: 0;
  }
  &.pt1{
    padding-top: 1em;
  }
}