.list-client{
  padding-left: 1em;
  padding-bottom: 3em;
  @media (max-width: 640px){
    padding-left: 0;
  }
}
.item-client{
  padding-bottom: 1em;
  // float: left;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  width: 33.33%;
  min-width: 280px;
  @include transition-property(width);
  @include transition-duration(.4s);
  @include transition-timing-function(ease); 
  @media (max-width: 1440px){
    width: 50%;
  }
  @media (max-width: 1023px){
    width: 100%;
    min-width: 0;
  }
}
.item-client-img{
  display: inline-block;
  vertical-align: top;
  width: 165px;
  height: 64px;
  @media (max-width: 640px){
    width: 120px;
    height: 46px;
  }
}
.item-client-describe{
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
  padding-top: 1em;
  font-size: 14px;
  width: 50%;
  width: calc(100% - 165px - 1em);
  @media (max-width: 640px){
    width: calc(100% - 120px - 1em);
  }
  @media (max-width: 320px){
    display: block;
    width: 100%;
  }
}
.item-client-name{
  line-height: 1;
  /* max-height: 1em; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}
.item-client-msg{
  line-height: 1.2;
  /*max-height: 1.6em;*/
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  padding-top: 0.2em;
  color: #999;
  @media (max-width: 1023px){
    max-height:none;
  }
}