.section-contact{
  font-family: 'Chinese' , 'Lato', sans-serif;
  .content-article{
    &:last-child{
      padding-bottom: 3em;
      padding-top: 1em;
    }
    &.style-large{
      font-size: 1.1em;
    }
    &.style-xl{
      line-height: 1;
      font-size: 1.7em;
      padding-bottom: 0.59em;
      i{
        width: 20px;
        height: 20px;
        // @include background-size(contain);
        margin-right: 4px;
      }
      .icon-phone{
        background-image: url('/images/icon-phone-xl.png');
      }
      .icon-fax{
        background-image: url('/images/icon-fax-xl.png');
      }
      .icon-mail{
        background-image: url('/images/icon-mail-xl.png');
      }
    }
  }
  span{
    // margin-left: 1.5em;
    // margin-right: 0.5em;
    display: block;
    margin-left: 0;
    @media (max-width: 1023px){
    }
    &:first-child{
      // margin-left: 0;
    }
  }
  .section-contact-profile{
    padding-bottom: 3em;
    &>.col-left,&>.col-right{
      float: left;
      width: 50%;
      @media (max-width: 1023px){
        width: 100%;
      }
    }
    &>.col-left{
      padding-right: 2.7em;
    }
    .form-btn{
      margin-top: 1.6em;
    }
  }
}
.section-contact-map{
  position: relative;
  width: 100%;
  width: calc(100% + 5.5em);
  height: 700px;
  margin-left: calc( 0px - 2.75em );
  background-color: #eee;
  @media (max-width: 767px){
    height: 100vw;
    // width: calc(100% + 2em);
    // margin-left: calc( 0px - 1em );
    width: 100vw;
    margin-left: -1em;
  }
  &::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (max-width: 1023px){
      content: '';
    }
  }
}