body{
  .layout-container{
    opacity: 0;
  }
  .layout-loading{
    //content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 19;
    // cursor: pointer;
    @include transition-property(all);
    @include transition-duration(1.6s);
    @include transition-timing-function(ease);
    @include transition-delay(0s);
    .layout-loading-top{
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      // background-color: white;
      // background-image: url('/images/img-enter.jpg');
      text-align: center;
      overflow: hidden;
      @include transition-property(all);
      @include transition-duration(1.6s);
      @include transition-timing-function(ease);
      @include transition-delay(0s);
    }
    .layout-loading-bottom{
      height: 300px;
      @include background-image(linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)) ,45deg);
    }
  }
  &.is-fading{
    .layout-container{
      opacity: 1;
    }
    .layout-loading{
      opacity: 0;
      margin-top: -300px;
    }
    .layout-loading-top{
      height: 0;
    }
  }
  &.is-loaded{
    .layout-container{
      opacity: 1;
    }
    .layout-loading{
      content: none;
    }
  }
}

.loading-top-logo{
  width: 300px;
  display: inline-block;
  position: relative;
  text-align: left;
  margin-top: 50%;
  margin-top: 50vh;
  top: -37px;
  // @include transition-property(all);
  // @include transition-duration(0.6s);
  // @include transition-timing-function(ease);
  // @include transition-delay(0s);
  @media (max-width: 768px){
    // width: 40%;
  }
  @media (max-width: 480px){
    width: 70%;
  }
  img{
    display: inline-block;
    vertical-align: top;
  }
  .form-btn{
    line-height: 6;
    padding: 0.2em 2em;
    margin-top: 3em;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    &::after{
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }
    &.is-loaded{
      line-height: 2;
      @include transition-property(line-height);
      @include transition-duration(2s);
      @include transition-timing-function(ease);
      @include transition-delay(2.2s);
      .form-btn-overlay{
        // opacity: 0;
        // background-color: rgba(255,255,255,0);
        i{
           background-color: black;
        }
      }
      .form-btn-overlay-dot1{
        animation: longer 2s 0s 1 ease-in-out;
        -moz-animation:longer 2s 0s 1 ease-in-out;
        -webkit-animation: longer 2s 0s 1 ease-in-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
      }
      .form-btn-overlay-dot2{
        animation: longer 2s 0s 1 ease-in-out;
        -moz-animation:longer 2s 0s 1 ease-in-out;
        -webkit-animation: longer 2s 0s 1 ease-in-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
      }

      .form-btn-overlay-dot3{
        animation: wider 2s 0s 1 ease-in-out;
        -moz-animation:wider 2s 0s 1 ease-in-out;
        -webkit-animation: wider 2s 0s 1 ease-in-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
      }
      .form-btn-overlay-dot4{
        animation: wider 2s 0s 1 ease-in-out;
        -moz-animation:wider 2s 0s 1 ease-in-out;
        -webkit-animation: wider 2s 0s 1 ease-in-out;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
      }
    }
  }
  .form-btn-overlay{
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: white;
    @include transition-property(opacity);
    @include transition-duration(2s);
    @include transition-timing-function(ease);
    @include transition-delay(0s);
    i{
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      // background-color: black;
    }
    .form-btn-overlay-dot1{
      left: 0;
      top: 70%;
      // animation: longer 2s 0s 1 ease-in-out;
      // -moz-animation:longer 2s 0s 1 ease-in-out;
      // -webkit-animation: longer 2s 0s 1 ease-in-out;
      // animation-fill-mode: forwards;
      // -webkit-animation-fill-mode: forwards;
      // animation-iteration-count:1;
      // -webkit-animation-iteration-count:1; /* Safari 和 Chrome */
      // animation-direction:alternate;
      // -webkit-animation-direction:alternate; /* Safari 和 Chrome */
    }
    .form-btn-overlay-dot2{
      right: 0;
      top: 70%;
      // animation: longer 2s 0s 1 ease-in-out;
      // -moz-animation:longer 2s 0s 1 ease-in-out;
      // -webkit-animation: longer 2s 0s 1 ease-in-out;
      // animation-fill-mode: forwards;
      // -webkit-animation-fill-mode: forwards;
    }

    .form-btn-overlay-dot3{
      left: 0;
      top: 100%;
      // animation: wider 2s 0s 1 ease-in-out;
      // -moz-animation:wider 2s 0s 1 ease-in-out;
      // -webkit-animation: wider 2s 0s 1 ease-in-out;
      // animation-fill-mode: forwards;
      // -webkit-animation-fill-mode: forwards;
    }
    .form-btn-overlay-dot4{
      right: 0;
      top: 100%;
      // animation: wider 2s 0s 1 ease-in-out;
      // -moz-animation:wider 2s 0s 1 ease-in-out;
      // -webkit-animation: wider 2s 0s 1 ease-in-out;
      // animation-fill-mode: forwards;
      // -webkit-animation-fill-mode: forwards;
    }

  }
  h3{
    text-align: left;
    font-size: 13px;
    padding-top: 2em;
    letter-spacing: 1em;
    font-family: 'Chinese' , 'Open Sans Condensed', sans-serif;
    color: #232323;
    font-weight: 500;
    white-space: nowrap;
    @media (max-width: 480px){
      font-size: 12px;
    }
  }
}
.layout-loading-top-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: -1;
  &.loading-top-bg1{
    background-color: white;
    z-index: -2;
    @include transition-property(all);
    @include transition-duration(2s);
    @include transition-timing-function(ease);
    @include transition-delay(0s);
  }
  &.loading-top-bg2{
    @include transition-property(all);
    @include transition-duration(1.6s);
    @include transition-timing-function(ease);
    @include transition-delay(0.1s);
  }
  .shape-trangle{
    position: absolute;
    left: 8%;
    top: 19%;
    @include rotate(-30deg);
    @media (max-width: 767px){
      display: none;
    }
    // animation: rotate3 26s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
    // -moz-animation: rotate3 26s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
    // -webkit-animation: rotate3 26s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
  }
  .shape-dot{
    position: absolute;
    left: 80%;
    top: 30%;
    @media (max-width: 767px){
      display: none;
    }
    // animation: shine1 7s 3s infinite ease-in-out;
    // -moz-animation: shine1 7s 3s infinite ease-in-out;
    // -webkit-animation: shine1 7s 3s infinite ease-in-out;
  }
  .shape-plus.plus-1{
    position: absolute;
    left: 61.5%;
    top: 69%;
    width: 21px;
    height: 21px;
    @include rotate(20deg);
    @media (max-width: 767px){
      display: none;
    }
    // animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
    // -moz-animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
    // -webkit-animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
  }
  .shape-plus.plus-2{
    position: absolute;
    left: 90%;
    top: 60%;
    width: 13px;
    height: 13px;
    @include rotate(-10deg);
    // animation: rotate4 31s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
    // -moz-animation: rotate4 31s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
    // -webkit-animation: rotate4 60s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
    @media (max-width: 767px){
      display: none;
    }
  }
  .shape-line.line-1{
    position: absolute;
    // top: -60px;
    // left: 150%;
    // left: 150vw;
    top: 30%;
    left: 25%;
    @include rotate(150deg);
    @media (max-width: 767px){
      left: 30px;
      top: 35%;
    }    
    &::after{
      width: 40px;
    }
    &.do-animate::after{
      // animation: lineshoot3 2.75s 1s cubic-bezier(0.310, 0.440, 0.445, 1.650);
      // -moz-animation: lineshoot3 2.75s 1s cubic-bezier(0.310, 0.440, 0.445, 1.650);
      // -webkit-animation: lineshoot3 2.75s 1s cubic-bezier(0.310, 0.440, 0.445, 1.650);
    }
  }
  .shape-line.line-2{
    position: absolute;
    // top: -60px;
    // left: 80%;
    // left: 80vw;
    top: 0;
    left: 65%;
    @media (max-width: 767px){
      right: 0;
      left: auto;
    }
    &::after{
      width: 100px;
    }    
    @include rotate(150deg);
    &.do-animate::after {
      // animation: lineshoot4 2s 1.8s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
      // -moz-animation: lineshoot4 2s 1.8s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
      // -webkit-animation: lineshoot4 2s 1.8s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
    }
  }
  .shape-line.line-3{
    position: absolute;
    // top: -60px;
    // left: 50%;
    // left: 50vw;
    left: 67%;
    top: 80%;
    @media (max-width: 767px){
      top: 70%;
      right: 0;
      left: auto;
    }
    &::after{
      width: 100px;
    }
    @include rotate(150deg);
    &.do-animate::after {
      // animation: lineshoot5 3s 0s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
      // -moz-animation: lineshoot5 3s 0s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
      // -webkit-animation: lineshoot5 3s 0s cubic-bezier(0.310, 0.440, 0.445, 1.650); 
    }
  }
}