//portofolio list
.list-work{
  // padding-bottom: 3em;
  .item-work{
    position: relative;
    float: left;
    width: 33.33%;
    padding-bottom: 1.5em;
    cursor: pointer;
    @include transition-property(width,opacity);
    @include transition-duration(.4s);
    @include transition-timing-function(ease); 
    @media (max-width: 1280px){
      width: 50%;
    }
    @media (max-width: 767px){
      width: 100%;
      width: calc( 100% + 1em );
    }
  }
  .item-work-name{
    line-height: 3;
    max-height: 3em;
    padding-right: 1em;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
  }
}
.item-work-img,.workdetail-relative-item-img{
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  @include transition-property(all);
  @include transition-duration(1.2s);
  @include transition-timing-function(ease); 
  @media (max-width: 1023px){
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  position: relative;
  overflow: hidden;
  &:before{
      content: "";
      display: block;
      padding-top: 56.25%;
  }
  .workdetail-relative-item-img-content{
      @include background-size(cover);
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  .is-focusing &{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

.item-work{
  .item-work-imgbox{
    position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      //background-color: rgba(0,0,0,0.65);
      @include transition-property(background-color);
      @include transition-duration(1.2s);
      @include transition-timing-function(ease);  
      @include transition-delay(0s);
    }  
  }
  &:hover{
    .item-work-img,.workdetail-relative-item-img{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    .item-work-imgbox{
      &::after{
        background-color: rgba(0,0,0,0);
      }
    }
  }

  .is-focusing &:not(:hover){
    opacity: 0.85;
  }
}

//portofolio detail
.section-workdetail{
  &.is-showing{
    max-height: 6000px;
    opacity: 1;
    &+.section-portofolio{
      max-height: 0;
    }
    &.is-fading{
      opacity: 0;
      @include transition-duration(0.3s);
    }
  }
}
.item-work-img{
  width: 100%;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
  &:before{
      content: "";
      display: block;
      padding-top: 56.25%;
  }
  .item-work-img-content{
      @include background-size(cover);
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
}
.workdetail-title{
  padding-left: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 1px solid #999;
  p:first-child{
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5;
  }
  p:last-child{
    color: #BDBDBD;
    font-size: 25px;
    line-height: 1.6;
    b{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-right: 0.5em;
    }
    span:last-child{
      display: inline-block;
    }
  }
  .icon-link{
  @include transition-property(opacity);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);  
  @include transition-delay(0s);
    &:hover{
      opacity: 0.7;
    }
  }
}
.workdetail-title-url{
  vertical-align: text-bottom;
  margin-left: 0.5em;
}
.workdetail-msg{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
  width: 60%;
    @media (max-width: 1023px){
      width: 100%;
    }
}
.workdetail-img-item{
  padding-bottom: 2em;
  display: block;
  .item-workdetail-img{
    width: 100%;
    @media (max-width: 767px){
      width: calc( 100% + 2em );
      margin-left: -1em;
    }
  }
}
.workdetail-relative{
  .workdetail-title{
    margin-top: 30px;
    margin-bottom: 30px;
    @media (max-width: 1023px){
      margin-top: 0.6em;
      margin-bottom: 0.6em;
    }
  .goto-portofolio{
    cursor: pointer;
    // color: black;
    float: right;
    font-size: 24px;
    font-weight: 700;
    // font-family: 'Open Sans Condensed', sans-serif;
   }
   p:last-child{
    color: black;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1px;
    // font-family: 'Open Sans', sans-serif;
   } 
  }
}
.workdetail-relative-list{
  margin-bottom: 3em;
  .workdetail-relative-item{
    float: left;
    width: 33.33%;
    cursor: pointer;
    @include transition-property(opacity);
    @include transition-duration(1.2s);
    @include transition-timing-function(ease); 
    @media (max-width: 1023px){
      // width: 100%;
      // padding-bottom: 1em;
    }
  }
}
