.section-main{
  position: relative;
  padding-left: 2.75em;
  border-bottom: 1px dotted #999;
  overflow: hidden;
  @media (max-width: 767px){
    padding-left: 1em;
    // min-height: calc(100vh - 60px);
  }
  h1{
    padding-top: 0.7em;
    z-index: 1;
    @include transition-property(color);
    @include transition-duration(1.2s);
    @include transition-timing-function(ease);  
    @include transition-delay(0s);
    b{
      display: inline-block;
      position: relative;
      font-weight: inherit;
    }
  }
  h2{
    padding-top: 0.5em;
    padding-bottom: 3em;
    z-index: 1;
    @include transition-property(color);
    @include transition-duration(1.2s);
    @include transition-timing-function(ease);  
    @include transition-delay(0s);
      @media (max-width: 768px){
        font-size: 12px;
      }
  }

  .bg-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    @include transition-property(background-color);
    @include transition-duration(1.2s);
    @include transition-timing-function(ease);  
    @include transition-delay(0s);
    @media (max-width: 768px){
      // width: 768px;
    }
    &.bg-main2{
      z-index: -2;
      background-color: white;
    }
    .shape-trangle{
      position: absolute;
      top: 140px;
      left: 30px;
      @include rotate(-30deg);
      // animation: rotate3 36s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
      // -moz-animation: rotate3 36s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
      // -webkit-animation: rotate3 36s 0.5s infinite linear, shine2 6s 1s infinite ease-in-out;
      @media (max-width: 1280px){
        left: 1em;
      }
      @media (max-width: 767px){
        display: none;
      }
    }
    .shape-plus.plus-1{
      position: absolute;
      top: 40px;
      left: 38%;
      width: 13px;
      height: 13px;
      @include rotate(20deg);
      // animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
      // -moz-animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
      // -webkit-animation: rotate1 9s infinite cubic-bezier(1,0,0,1), shine1 7s infinite ease-in-out;
      @media (max-width: 1280px){
        top: 20px;
      }
      @media (max-width: 767px){
        display: none;
      }
    }
    .shape-plus.plus-2{
      position: absolute;
      top: 200px;
      left: 81%;
      width: 21px;
      height: 21px;
      @include rotate(-10deg);
      // animation: rotate4 31s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
      // -moz-animation: rotate4 31s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
      // -webkit-animation: rotate4 60s 1s infinite ease, shine1 8s 1s infinite ease-in-out;
      @media (max-width: 767px){
        display: none;
      }      
    }
    .shape-line.line-1{
      position: absolute;
      top: 73%;
      left: 65%;
      // top: -1px;
      // left: 120%;
      @include rotate(150deg);
      @media (max-width: 767px){
        display: none;
      } 
      &::after{
        width: 80px;
        @media (max-width: 767px){
          width: 50px;
        }
      }
      @media (max-width: 767px){
        left: auto;
        right: 0;
        top: 65%;
      }
      &.do-animate::after{
        // -webkit-animation-name: lineshoot1;
        // -moz-animation-name: lineshoot1;
        // -webkit-animation-duration: 1.8s;
        // -moz-animation-duration: 1.8s;
        // -webkit-animation-delay: 0s;
        // -moz-animation-delay: 0s;
        // -webkit-transition-timing-function:cubic-bezier(1,0,0,1); /* Safari and Chrome */
        // transition-timing-function: cubic-bezier(1,0,0,1);
      }
    }
    .shape-line.line-2{
      position: absolute;
      // top: -60px;
      // left: 60%;
      @include rotate(150deg);
      &.do-animate::after {
        // -webkit-animation-name: lineshoot2;
        // -moz-animation-name: lineshoot2;
        // -webkit-animation-duration: 2.5s;
        // -moz-animation-duration: 2.5s;
        // -webkit-animation-delay: 9s;
        // -moz-animation-delay: 9s;
        // -webkit-transition-timing-function:cubic-bezier(1,0,0,1); /* Safari and Chrome */
        // transition-timing-function: cubic-bezier(1,0,0,1);
      }
    }
    .shape-dot{
      position: absolute;
      top: 120px;
      left: 70%;
      // animation: shine1 7s 3s infinite ease-in-out;
      // -moz-animation: shine1 7s 3s infinite ease-in-out;
      // -webkit-animation: shine1 7s 3s infinite ease-in-out;
      @media (max-width: 1680px){
        left: 1150px;
      }
      @media (max-width: 1280px){
        left: 930px;
      }
      @media (max-width: 1023px){
        left: 90%;
      }
      @media (max-width: 767px){
        display: none;
      }
    }
  }
}