@import "compass";
// @import "../initial";

//loading cut
@import "loading";

//slogan block
@import "slogan";

//main contents
.content-section{
  padding-left: 2.75em;
  padding-right: 2.75em;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition-property(height,max-height,opacity);
  @include transition-duration(1.2s);
  @include transition-timing-function(ease);  
  @include transition-delay(0.6s);
  // .boxbtn{
  //     margin-top: 40px;
  //     margin-bottom: 40px;
  // }
  @media (max-width: 767px){
    padding-left: 1em;
    padding-right: 1em;
  }
}
.content-section-title{
  position: relative;
  border-left: 1px solid #999;
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #232323;
  font-family: 'Century Gothic', sans-serif;
  @media (max-width: 767px){
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    // margin-top: 0.8em;
    margin-top: 0;
    margin-bottom: 0.8em;
  }
  &.goto-contact{
    cursor: pointer;
  }
  &:hover{
    .content-section-title-append{
      color: #232323;
      @include transition-property(color);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);
    }
  }
}
.content-section-title-clone1{
  position: absolute;
  // top: -1px;
  top: 0;
  left: 0;
  display: block;
  padding-left: 10px;
  z-index: -1;
  background: -webkit-linear-gradient(#e930f6, #fa3934);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-section-title-clone2{
  position: absolute;
  // top: 1px;
  top: 0;
  left: 0;
  display: block;
  padding-left: 10px;
  z-index: -1;
  background: -webkit-linear-gradient(#18ff19, #14feff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-section-title-noisy{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/wblock1x4.png');
  opacity: 0.65;
  mix-blend-mode: overlay;
}
.content-section-title-lightline{
  background-color: white;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.content-section-title-clone1,.content-section-title-clone2,.content-section-title-noisy,.content-section-title-lightline{
  visibility: hidden;
}
.content-section-title-append{
  font-family: 'Chinese' , 'Open Sans Condensed', sans-serif;
  font-size: 0.4em;
  line-height: 2;
  color: #ccc;
}
//about us
@import "about";

//clients
@import "client";

//portofolio
@import "portofolio";

//contact us
@import "contact";

//events
[class^="is-open-"]{
  .layout-container{
    opacity: 1;
  }
  .content-section{
    @include transition-delay(0s);
  }
  .section-boxbtn{
    max-height: 0;
    // margin-left: -60px;
    opacity: 0;
    @media (max-width: 767px){
      // padding-top: 0;
      // padding-bottom: 0;
    }
  }
  .section-main{
    .bg-main{
      background-color: #232323;
    }
    h1{
      color: white;  
    }
    h2{
      // color: #f0f0f0;
    }
  }
}

.content-section-title.is-playing{
    animation: titleskew 0.3s 0.1s 1 ease-in-out;
    -moz-animation: titleskew 0.3s 0.1s 1 ease-in-out;
    -webkit-animation: titleskew 0.3s 0.1s 1 ease-in-out;

  .content-section-title-clone1,.content-section-title-clone2,.content-section-title-noisy,.content-section-title-lightline{
    visibility: visible;
  }
  .content-section-title-clone1{
    animation: shakeclone1 0.65s 0.1s 1 ease;
    -moz-animation: shakeclone1 0.65s 0.1s 1 ease;
    -webkit-animation: shakeclone1 0.65s 0.1s 1 ease;
  }
  .content-section-title-clone2{
    animation: shakeclone2 0.5s 0.1s 1 ease;
    -moz-animation: shakeclone2 0.5s 0.1s 1 ease;
    -webkit-animation: shakeclone2 0.5s 0.1s 1 ease;
  }
  .content-section-title-lightline{
    top: 100%;
    animation: shineline 0.3s infinite ease-in-out;
    -moz-animation: shineline 0.3s infinite ease-in-out;
    -webkit-animation: shineline 0.3s infinite ease-in-out;
    @include transition-property(top);
    @include transition-duration(2s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(1s);
  }
  .content-section-title-noisy{
    animation: shakeline 0.2s infinite ease-in-out , shinenoiz 0.1s infinite ease-in-out;
    -moz-animation: shakeline 0.2s infinite ease-in-out , shinenoiz 0.1s infinite ease-in-out;
    -webkit-animation: shakeline 0.2s infinite ease-in-out , shinenoiz 0.1s infinite ease-in-out;
  }
}

.is-open-about {
  .section-about{
    max-height: 2000px;
    opacity: 1;
  }
}
.is-open-portofolio {
  .section-portofolio{
    max-height: 12000px;
    opacity: 1;
  }  
}
.is-open-clients {
  .section-clients{
    max-height: 10000px;
    opacity: 1;
  }
}
.is-open-contact {
  .section-contact{
    max-height: 2000px;
    opacity: 1;
  }
}