<%= javascript_include_tag "vendors/jquery.min" %>
<%= javascript_include_tag "vendors/fastclick" %>
<%= javascript_include_tag "vendors/svg4everybody.min" %>
<%= javascript_include_tag "initialization" %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= yield :specific_javascript %>