<%#= stylesheet_components_link_tag "normalize.css/normalize" %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,300italic,400italic,600,600italic,700,700italic,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "font-awesome/css/font-awesome.min" %>
<%= stylesheet_link_tag "global" %>
<%= yield :specific_stylesheet %>