<header id="header">
  <div class="col-logo">
    <i class="module-icon icon-logo goto-home"></i>
  </div>
  <div class="col-btn">
    <!-- <span class="btn-header goto-about">ABOUT US</span> -->
    <span class="btn-header goto-portofolio">PORTFOLIO</span>
    <span class="btn-header goto-clients">CLIENTS</span>
    <span class="btn-header goto-contact">CONTACT US</span>
    <!-- <span class="btn-header goto-home">HOME</span> -->
  </div>
<div class="header-submenu">
  <ul>
      <!-- <li class="btn-submenu goto-about">ABOUT US</li>   -->
      <li class="btn-submenu goto-portofolio">PORTFOLIO</li>
      <li class="btn-submenu goto-clients">CLIENTS</li>
      <li class="btn-submenu goto-contact">CONTACT US</li>
  </ul>
</div>
<i class="icon-burger">
  <span></span>
  <span></span>
  <span></span>
</i>
</header>