
@keyframes lineshoot1{
0% { width: 30px;margin-left: 0;opacity: 0.8;  }
100%{ width: 120px;margin-left: 1600px;opacity: 0;  }
}
@-webkit-keyframes lineshoot1{
0% { width: 30px;margin-left: 0;opacity: 0.8;  }
100%{ width: 120px;margin-left: 1600px;opacity: 0;  }
}

@keyframes lineshoot2{
0% { width: 60px;margin-left: 0;opacity: 0.6;  }
100%{ width: 300px;margin-left: 1600px;opacity: 0;  }
}
@-webkit-keyframes lineshoot2{
0% { width: 60px;margin-left: 0;opacity: 0.6;  }
70% { width: 60px;margin-left: 0;opacity: 0.6;  }
90%{ width: 300px;margin-left: 1600px;opacity: 0;  }
100%{ width: 300px;margin-left: 1600px;opacity: 0;  }
}

@keyframes lineshoot3{
0% { width: 60px;margin-left: 0;opacity: 1;  }
100%{ width: 300px;margin-left: 2600px;opacity: 1;  }
}
@-webkit-keyframes lineshoot3{
0% { width: 60px;margin-left: 0;opacity: 1;  }
100%{ width: 300px;margin-left: 2600px;opacity: 1;  }
}

@keyframes lineshoot4{
0% { width: 60px;margin-left: 0;opacity: 0.8;  }
100%{ width: 300px;margin-left: 2600px;opacity: 0;  }
}
@-webkit-keyframes lineshoot4{
0% { width: 60px;margin-left: 0;opacity: 0.8;  }
100%{ width: 300px;margin-left: 2600px;opacity: 0;  }
}

@keyframes lineshoot5{
0% { width: 40px;margin-left: 0;opacity: 0.6;  }
100%{ width: 220px;margin-left: 3000px;opacity: 0;  }
}
@-webkit-keyframes lineshoot5{
0% { width: 40px;margin-left: 0;opacity: 0.6;  }
100%{ width: 220px;margin-left: 3000px;opacity: 0;  }
}

@keyframes rotate1{
  0% { @include rotate(20deg);  }
  15%{ @include rotate(730deg);  }
  100%{ @include rotate(740deg);  }
}
@-webkit-keyframes rotate1{
  0% { @include rotate(20deg);  }
  15%{ @include rotate(1010deg);  }
  100%{ @include rotate(1010deg);  }
}

@keyframes rotate2{
  0% { @include rotate(-10deg);  }
  8% { @include rotate(-10deg);  }
  25%{ @include rotate(620deg);  }
  100%{ @include rotate(620deg);  }
}
@-webkit-keyframes rotate2{
  0% { @include rotate(-10deg);  }
  8% { @include rotate(-10deg);  }
  25%{ @include rotate(620deg);  }
  100%{ @include rotate(620deg);  }
}
@-webkit-keyframes rotate3{
  0% { @include rotate(0deg);  }
  100%{ @include rotate(360deg);  }
}
@-webkit-keyframes rotate4{
  0% { @include rotate(0deg);  }
  100%{ @include rotate(-360deg);  }
}
@keyframes shine1{
  0% { opacity: 1;  }
  25% { opacity: 0.7;  }
  50% { opacity: 1;  }
  75% { opacity: 0.5;  }
  100% { opacity: 1;  }
}
@-webkit-keyframes shine1{
  0% { opacity: 1;  }
  25% { opacity: 0.7;  }
  50% { opacity: 1;  }
  75% { opacity: 0.5;  }
  100% { opacity: 1;  }
}

@keyframes shine2{
  0% { opacity: 1;  }
  25% { opacity: 0.6;  }
  60% { opacity: 1;  }
  75% { opacity: 0.82;  }
  100% { opacity: 1;  }
}
@-webkit-keyframes shine2{
  0% { opacity: 1;  }
  25% { opacity: 0.6;  }
  60% { opacity: 1;  }
  75% { opacity: 0.82;  }
  100% { opacity: 1;  }
}
@keyframes shineline{
  0% { opacity: 1;  }
  50% { opacity: 0;  }
  100% { opacity: 1;  }
}
@-webkit-keyframes shineline{
  0% { opacity: 1;  }
  50% { opacity: 0;  }
  100% { opacity: 1;  }
}
@keyframes longer{
  0% { height: 0px; }
  30% { height: 0px; }
  50% { height: 30%; }
  100% { height: 30%; }
}
@-webkit-keyframes longer{
  0% { height: 0px; }
  30% { height: 0px; }
  50% { height: 30%; }
  100% { height: 30%; }
}
@keyframes wider{
  0% { width: 0px; }
  50% { width: 0px; }
  100% { width: 50%; }
}
@-webkit-keyframes wider{
  0% { width: 0px; }
  50% { width: 0px; }
  100% { width: 50%; }
}
@keyframes shineline{
  0% { opacity: 0.8;  }
  50% { opacity: 0.1;  }
  100% { opacity: 0.8;  }
}
@-webkit-keyframes shineline{
  0% { opacity: 0.8;  }
  50% { opacity: 0.1;  }
  100% { opacity: 0.8;  }
}
@keyframes shinenoiz{
  0% { opacity: 0.4;  }
  50% { opacity: 0.7;  }
  100% { opacity: 0.4;  }
}
@-webkit-keyframes shinenoiz{
  0% { opacity: 0.4;  }
  50% { opacity: 0.7;  }
  100% { opacity: 0.4;  }
}
@keyframes shakeline{
  0% { margin-top:0;  }
  100% { margin-top:4px;  }
}
@-webkit-keyframes shakeline{
  0% { margin-top:0;  }
  100% { margin-top:4px;  }
}
@keyframes shakeclone1{
  0% { padding-left: 9px;  }
  10% { padding-left: 8px;  }
  90% { padding-left: 8px;  }
  100% { padding-left: 10px;opacity: 0;  }
}
@-webkit-keyframes shakeclone1{
  0% { padding-left: 9px;  }
  10% { padding-left: 8px;  }
  90% { padding-left: 8px;  }
  100% { padding-left: 10px;opacity: 0;  }
}
@keyframes shakeclone2{
  0% { padding-left: 11px;  }
  10% { padding-left: 12px;  }
  90% { padding-left: 12px;  }
  100% { padding-left: 10px;opacity: 0;  }
}
@-webkit-keyframes shakeclone2{
  0% { padding-left: 11px;  }
  10% { padding-left: 12px;  }
  90% { padding-left: 12px;  }
  100% { padding-left: 10px;opacity: 0;  }
}
@keyframes titleskew{
  0% { @include skew(0deg,0);  }
  1% { @include skew(-3deg,0);  }
  99% { @include skew(-3deg,0);  }
  100% { @include skew(0deg,0);  }
}
@-webkit-keyframes titleskew{
  0% { @include skew(0deg,0);  }
  1% { @include skew(-3deg,0);  }
  99% { @include skew(-3deg,0);  }
  100% { @include skew(0deg,0);  }
}