.section-boxbtn{
  position: relative;
  // border-top: 1px dotted #999;
  padding-left: 2.75em;
  max-height: 150px;
  overflow: hidden;
  opacity: 1;
  @include transition(max-height 0.6s ease 0.5s,margin-left 0.6s ease 0s,opacity 0.6s ease 0s);
  // @include transition-property(max-height,margin-left);
  // @include transition-duration(0.6s);
  // @include transition-timing-function(ease);

  @media (max-width: 767px){
    max-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
  .boxbtn{
    cursor: pointer;
    @media (max-width: 1280px){
      margin-top: 35px;
      margin-bottom: 35px;
    }
    @media (max-width: 767px){
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    &:hover{
      p:last-child{
        // color: black;
        span{
          height: 0;
          opacity: 0;
        }
      }
    }
  }
}

.boxbtn{
  display: inline-block;
  overflow: hidden;
  padding-left: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 310px;
  height: 45px;
  border-left: 1px solid #999;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);
  p:first-child{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
  }
  p:last-child{
    position: relative;
    color: black;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 26px;
    @media (max-width: 1023px){
      color: #BDBDBD;
    }
    span{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #BDBDBD;
      height: 100%;
      opacity: 1;
      overflow: hidden;
      @include transition(height 0.3s ease 0s,opacity 0.25s ease 0s);
      @media (max-width: 1023px){
        height: 0;
      }
    }
  }
}

.btn-water{
  position: relative;
  // color: black;
  color: #232323;
  span{
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 1;
    // color: #BDBDBD;
    color: black;
    @include transition(height 0.3s ease 0s,opacity 0.25s ease 0s);
  }
  &:hover{
    span{
        height: 0;
        opacity: 0;
    }
  }
}