input,textarea{
  border: 0;
  font-family: 'Chinese' , 'Lato', sans-serif;
  font-size: 12px;
  &:focus{
    outline: none;
  }
}
textarea{
  resize: none;
  line-height: 2;
}
button{
  background-color: transparent;
  cursor: pointer;
  font-family: 'Chinese' , 'Lato', sans-serif;
  &:focus{
    outline: none;
  }
}
.module-form{
  font-size: 12px;
}
.form-block{
  position: relative;
  border-bottom: 1px solid #232323;
  // line-height: 4;
  font-size: 12px;
  padding-left: 5em;
  &.style-half{
    display: inline-block;
    width: 48%;
    margin-left: -5px;
    &:first-child{
      margin-left: 0;
      margin-right: 4%;
    }
    @media (max-width: 767px){
      width: 100%;
      margin-left: 0;
    }
  }
  &.style-full{
    clear: left;
  }
  margin-bottom: 1px;
  &.is-focus{
    border-bottom: 2px solid #232323;
    margin-bottom: 0;
  }
  .module-form-label{
    width: 5em;
    line-height: 4;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .module-form-input{
    width: 100%;
    height: 4em;
    height: calc( 4em - 2px );
  }
  .module-form-textarea{
    // margin-top: 1.5em;
    padding-top: 1.5em;
    padding-top: calc(1.5em - 3px);
    width: 100%;
    height: 8em;
    line-height: 2;
  }
}
.form-btn{
  position: relative;
  border: 0;
  font-size: 12px;
  width: 5em;
  height: 2.4em;

  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #232323;
    border-left: 1px solid #232323;
    border-right: 1px solid #232323;
    @include transition-property(background-color,height,color);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease);  
    @include transition-delay(0s);
  }

  &:hover{
    color: white;
    &:after{
      height: 100%;
      background-color: black;
    }
  }
}