.module-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.icon-logo{
  width: 180px;
  height: 45px;
  // background-image: url('/images/img-logo-drama.svg');
  background-image: url('/images/img-logo-drama.png');
}
.icon-phone{
  width: 14px;
  height: 14px;
  // background-image: url('/images/icon-phone.svg');
  background-image: url('/images/icon-phone.png');
}
.icon-fax{
  width: 14px;
  height: 14px;
  // background-image: url('/images/icon-fax.svg');
  background-image: url('/images/icon-fax.png');
}
.icon-mail{
  width: 14px;
  height: 14px;
  // background-image: url('/images/icon-mail.svg');
  background-image: url('/images/icon-mail.png');
}
.icon-link{
  width: 30px;
  height: 26px;
  // background-image: url('/images/icon-link.svg');
  background-image: url('/images/icon-link.png');
}
.icon-burger{
  display: inline-block;
  width: 40px;
  padding-left: 8px;
  // height: 32px;
  cursor: pointer;
  span{
    display: block;
    height: 1px;
    background-color: #999;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.shape-trangle{
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #727272 transparent;
}
.shape-plus{
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    left: calc( 50% - 0.5px);
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #727272;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    top: calc( 50% - 0.5px);
    width: 100%;
    height: 1px;
    background-color: #727272;
  }
}
.shape-line{
  display: inline-block;
  width: 0;
  height: 0;
  &::after{
    content: '';
    display: block;
    // width: 60px;
    width: 0px;
    height: 1px;
    background-color: #727272;
  }
}

.shape-dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #727272;
  @include border-radius(50%);
}