.layout-lightbox{
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  &.is-open{
    display: block;
  }
  &.is-showing{
    .layout-lightbox-bg{
      opacity: 1;
      @include transition-delay(0s);
    }
    .layout-lightbox-content{
      opacity: 1;
      top: 38%;
      @include transition-delay(0.5s);
    }
  }
}
.layout-lightbox-bg{
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);  
  @include transition-delay(0.5s);
}
.layout-lightbox-content{
  background-color: white;
  display: block;
  position: fixed;
  width: 30%;
  top: 40%;
  left: 35%;
  // border: 10px solid black;
  padding-top: 3em;
  padding-bottom: 3em;
  opacity: 0;
  @include transition(opacity 0.3s ease 0s , top 0.4s ease-out 0s);
  h3{
    line-height: 1.6;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 2px;
    @media (max-width: 480px){
      font-size: 1.1em;
    }
  }
  .form-btn{
    margin-top: 1em;
    font-size: 16px;
    width: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  @media (max-width: 1279px){
    width: 40%;
    left: 30%;
  }
  @media (max-width: 768px){
    width: 70%;
    left: 15%;
  }
  @media (max-width: 480px){
    width: 80%;
    left: 10%;
  }
}