#footer{
  border-top: 1px dotted #999;
  font-family: 'Chinese' , 'Lato', sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.75em;
  color: #ccc;
  @media (max-width: 767px){
    padding-left: 1em;
  }
}
.footer-content{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-left: 1px solid #999;
  font-size: 14px;

  span{
    display: inline-block;
    padding-left: 1em;
    padding-right: 0.5em;
    border-left: 1px solid #ccc;
    line-height: 1;
    @media (max-width: 1023px){
      border-left: 0;
    }
    @media (max-width: 767px){
      padding-right: 0;
    }
    &:first-child{
      border-left: 0;
    }
    b{
      letter-spacing: 2px;
      font-weight: normal;
      @media (max-width: 767px){
        display: block;
      }
    }
    &.style-noborder{
      border-left: 0;
      padding-left: 0;
      @media (max-width: 1023px){
        display: block;
        padding-left: 1em;
      }
    }
  }
  a{
    display: inline-block;
    padding-left: 1em;
    color: #bbb;
  }
  i{
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}