#header{
  position: fixed;
  // position: relative;
  z-index: 10;
  top: 0; 
  width: 100%;
  height: 100px;
  border-bottom: 1px dotted #999;
  background-color: white;
  @include transition-property(top);
  @include transition-duration(.4s);
  @include transition-timing-function(ease);
  @media (max-width: 767px){
    height: 60px;
  }
  &.is-slideup{
    top: -100px;
    @media (max-width: 767px){
      top: -60px;
    }
  }
  .icon-burger{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1.5em;
    @include transition-property(width);
    @include transition-duration(.2s);
    @include transition-timing-function(ease);
    @media (max-width: 767px){
      display: block;
    }
    @media (max-width: 767px){
      margin-bottom: 1em;
    }
    span{
      @media (max-width: 767px){
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
  &.is-open{
    .icon-burger{
      width: 26px;
      span{
        &:first-child,&:last-child{
          width: 50%;
          margin-left: 50%;
        }
      }
    }
    .header-submenu{
      max-height: 100vh;
      opacity: 1;
    }
  }
}
.col-logo{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  width: 230px;
  padding-left: 2.75em;
  padding-bottom: 1em;
  i{
    cursor: pointer;
  }
  @media (max-width: 767px){
    padding-left: 1em;
  }
  .icon-logo{
    @media (max-width: 767px){
      height: 25px;
      background-position: 0;
      @include background-size(contain);
  }
  }
}
.col-btn{
  position: absolute;
  right: 3em;
  bottom: 0;
  width: 70%;
  height: 35px;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  @media (max-width: 767px){
    display: none;
  }
}
.btn-header{
  display: inline-block;
  position: relative;
  width: 115px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #999;
  margin-left: -4px;
  @include transition-property(background-color,color,opacity);
  @include transition-duration(.4s);
  @include transition-timing-function(ease);
  &:last-child{
    border-right: 1px solid #999;
  }
  &::after{
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    background-color: #000;
    @include transition-property(height);
    @include transition-duration(.6s);
    @include transition-timing-function(ease);
  }

  &:hover{
    color: #fff;
    opacity: 0.85;
    &::after{
      height: 100%;
    }
  }
}
.header-submenu{
  // position: fixed;
  // z-index: 10;
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);
  @media (max-width: 767px){
    margin-top: 60px;
  }
  ul{
    background-color: white;
  }
  li{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 4;
    border-bottom: 1px solid #999;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    cursor: pointer;
    @media (max-width: 767px){
      line-height: 3;
      text-align: left;
      padding-left: 1em;
    }
  }
}