::-moz-selection { /* Code for Firefox */
    background: black;
    color: white;
}
::selection {
    background: black;
    color: white;
}
body{
  background-color: white;
}
// 主容器
.layout-container {
  margin-top: 100px;
  @media (max-width: 767px){
    margin-top: 60px;
  }
}
// 主內容區塊
.layout-view {
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: #232323;
  letter-spacing: -3px;
  @media (max-width: 1280px){
    font-size: 64px;
  }
  @media (max-width: 1024px){
    font-size: 52px;
  }
  @media (max-width: 767px){
    font-size: 42px;
    letter-spacing: -2px;
  }
  @media (max-width: 480px){
    font-size: 40px;
  }
}
h2{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #999;
  font-size: 20px;
  line-height: 1.2;
  @media (max-width: 480px){
    font-size: 16px;
  }
}
